@model SASSMMS.Domain.Entities.Qualification

@{
    ViewBag.Title = "Details";
}


<div>
    <h4>Qualification</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QualificationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QualificationName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.QualificationId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
